  <div class='home-dashboard-blog-container'>
    <div class='home-dashboard-blog-title-header'>
      <h1 class='blog-title'>{{{blog_title}}}</h1><p class="blog-date"> Posted on {{{creation_date}}} - By
        {{{user.username}}}</p>
    </div>
    <div class="blog-container-footer">
        <a href="/blogs/{{{blog_id}}}"><button class="home-view-blog-btn">View Blog</button></a>
    </div>
  </div>