<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap'
      rel='stylesheet'
    />
    <title>Blog It Your Way!</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href='/'>Home</a></li>
          {{#if logged_in}}
          <li><a href='/dashboard'>Dashboard</a></li>
          <li><a href='/#'>Post Blog</a></li>
          <li><a href='/#'>Logout</a></li>
          {{else}}
          <li><a href='/login'>Login</a></li>
          {{/if}}
        </ul>
      </nav>
    </header>

    {{! placeholder for where the view will be injected }}
    {{{body}}}

    <footer>THIS IS A FOOTER</footer>
    {{! placeholder for where the view will be injected }}
  </body>
</html>