<div class='post-comment-main-container'>
  <form id='comment-form'>
    <div class='comment-form-group'>
      <label for='comment-content'>Reply to the blog:</label>
      <textarea class='form-input' type='text' class='comment-content-box' id='comment-content'form='comment-form'></textarea>
    </div>
    <div class='comment-form-group'>
      <button class='post-comment-btn' type='submit'>Post Comment</button>
    </div>
  </form>
</div>

<script src='/js/postComment.js'></script>