* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAV BAR */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #141414;
  height: 75px;
  font-weight: bolder;
  font-size: 20px;
}

nav li {
  color: #F0FFF0;
  background-color: #141414;
  list-style-type: none; 
  display: inline-block;
  margin: 0px 50px 0px 50px;
}

nav a {
  color: inherit;
  text-decoration: none;
}

nav li:hover {
  transform: scale(1.15);
}

/* FOOTER */

footer {
  bottom: 0;
  width: 100%;
  color: #F0FFF0;
  background-color: #201E1F;
  text-align: center;
}

/* HOME PAGE */
.home-page-container {
  display: flex;
  flex-direction: column;
}

.home-blog-container {
  width: 100%;
  height: 50vh;
  background-color: lightslategray;
  outline: 10px solid black;
}

.blog-title {
  font-size: 50px;
  font-weight: bolder;
  color: #F0FFF0;
  text-align: center;
}

.blog-date {
  font-size: 20px;
  font-weight: bolder;
  color: #F0FFF0;
  text-align: center;
}

.blog-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: auto;
}

.blog-container-footer {
  display: flex;
  justify-content: center;
}





