* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
}

button {
  cursor: pointer;
}

label {
  font-size: 20px;
}

/* NAV BAR */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #141414;
  height: 75px;
  font-weight: bolder;
  font-size: 20px;
}

nav li {
  color: #f0fff0;
  background-color: #141414;
  list-style-type: none;
  display: inline-block;
  margin: 0px 50px 0px 50px;
}

nav a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

nav li:hover {
  transform: scale(1.15);
}

/* FOOTER */

footer {
  bottom: 0;
  width: 100%;
  color: #f0fff0;
  background-color: #201e1f;
  text-align: center;
  position: fixed;
}

/* HOME PAGE/DASHBOARD */

.home-dashboard-page-container {
  height: 100vh auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 5vh;
}

.home-dashboard-blog-container {
  display: flex;
  width: 100%;
  height: 50vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(123, 134, 142, 1) 85%
  );
  margin: 2vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.blog-title {
  font-size: 50px;
  font-weight: bolder;
  color: #f0fff0;
  text-align: center;
}

.blog-date {
  font-size: 20px;
  font-weight: bolder;
  color: #f0fff0;
  text-align: center;
}

.blog-content-container {
  overflow-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: auto;
}

#blog-container-footer {
  display: flex;
  align-items: flex-end;
  height: 15vh;
}

.delete-blog-btn,
.update-blog-btn {
  width: 8rem;
  padding: 0.5vh;
  font-size: 15px;
  background-color: white;
  color: black;
  border: 1px solid #555555;
  border-radius: 5%;
  margin: 1vh;
}

.delete-blog-btn:hover {
  background-color: #563635;
  color: white;
}

.update-blog-btn:hover {
  background-color: #8c8a93;
  color: white;
}

.blog-title:hover {
  transform: scale(1.05);
  color: #fff3f0;
}

/* SINGLE BLOG PAGE */
.single-blog-main-container {
  display: flex;
  flex-direction: column;
  padding: 2vh;
}

.single-blog-container {
  display: flex;
  height: fit-content;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(123, 134, 142, 1) 85%
  );
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.single-blog-title-header {
  font-size: 20px;
  font-weight: bolder;
  color: #f0fff0;
  text-align: center;
}

#single-blog-title {
  padding-top: 5vh;
  padding-bottom: 0;
}

#single-blog-username {
  padding-top: 0;
}

.single-blog-content {
  display: inline;
  padding: 5vh;
  height: fit-content;
  width: fit-content;
  font-size: 20px;
  font-weight: bolder;
  color: antiquewhite;
  text-align: center;
}

.single-blog-footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 2vh;
}

.single-blog-container,
.comment-main-container {
  margin: 5vh;
  overflow-wrap: break-word;
}

.comment-main-container {
  display: flex;
  flex-direction: column;
}

.comment-container {
  height: fit-content;
  padding: 3vh;
  margin: 2vh;
  background: rgb(183, 190, 188);
  background: linear-gradient(
    90deg,
    rgba(183, 190, 188, 1) 0%,
    rgba(75, 98, 115, 1) 85%
  );
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.comment-content-container {
  resize: both;
  display: inline-flex;
  height: auto;
  width: auto;
  overflow-wrap: break-word;
}

.comment-content-text {
  padding: 2vh;
}

.single-blog-comment-btn {
  width: 8rem;
  padding: 0.5vh;
  font-size: 15px;
  background-color: white;
  color: black;
  border: 1px solid #555555;
  border-radius: 5%;
  margin: 1vh;
}

.single-blog-comment-btn:hover {
  background-color: #8c8a93;
  color: white;
}

/* LOGIN/SIGNUP PAGE */

#login-main-container,
#signup-main-container {
  font-size: 20px;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100%;
  font-weight: bold;
}

#signup-link {
  font-weight: bolder;
  transition: 0.1s;
}

#signup-link:hover {
  border-bottom: 1px solid maroon;
  font-weight: bolder;
}

.modal-btn {
  width: 5rem;
  padding: 0.5vh;
  font-size: 15px;
  background-color: white;
  color: black;
  border: 1px solid #555555;
  border-radius: 5%;
}

.modal-btn:hover {
  background-color: #9dbbae;
  color: black;
}

/* modal for invalid authentication on login/signup page */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 3vh;
  border: 1px solid #888;
  width: 80%;
}

.close-modal {
  color: #aaa;
  float: right;
  font-size: 15px;
  font-weight: bolder;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#modal-content-text {
  font-size: 20px;
  font-weight: bolder;
  color: black;
  text-align: center;
}

/* POST/UPDATE BLOG FORM */

.blog-form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vh;
  width: 100%;
  font-weight: bolder;
}

.blog-form-group label {
  padding-bottom: 2vh;
}

#blog-title {
  font-size: 20px;
  width: 60%;
  height: 5vh;
  padding: 0vh 2vh;
}

#blog-content {
  font-size: 20px;
  display: inline-flex;
  align-items: flex-start;
  justify-content: start;
  width: 100%;
  height: 25vh;
  padding: 3vh;
}

.post-blog-btn,
#edit-blog-btn {
  width: 8rem;
  padding: 0.5vh;
  font-size: 15px;
  background-color: white;
  color: black;
  border: 1px solid #555555;
  border-radius: 5%;
  margin: 1vh;
}

.post-blog-btn:hover,
#edit-blog-btn:hover {
  background-color: #6a8e7f;
  color: white;
}

/* POST COMMENT FORM */

.comment-form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vh;
  font-weight: bolder;
}

#comment-content {
  font-size: 20px;
  display: inline-flex;
  align-items: flex-start;
  justify-content: start;
  width: 100%;
  height: 25vh;
  padding: 3vh;
  margin-top: 3vh;
}

#comment-btn-container {
  padding: 2vh;
}

.post-comment-btn {
  width: 8rem;
  padding: 0.5vh;
  font-size: 15px;
  background-color: white;
  color: black;
  border: 1px solid #555555;
  border-radius: 5%;
  margin: 1vh;
}

.post-comment-btn:hover {
  background-color: #6a8e7f;
  color: black;
}
