* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* NAV BAR */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #141414;
  height: 75px;
  font-weight: bolder;
  font-size: 20px;
}

nav li {
  color: #F0FFF0;
  background-color: #141414;
  list-style-type: none; 
  display: inline-block;
  margin: 0px 50px 0px 50px;
}

nav a {
  color: inherit;
  text-decoration: none;
}

nav li:hover {
  transform: scale(1.15);
}

/* FOOTER */

footer {
  bottom: 0;
  width: 100%;
  color: #F0FFF0;
  background-color: #201E1F;
  text-align: center;
}

/* HOME PAGE/DASHBOARD */

.home-dashboard-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vh;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

.home-dashboard-blog-container {
  display: flex;
  width: 100%;
  height: 50vh;
  background-color: lightslategray;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  margin: 2vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.blog-title {
  font-size: 50px;
  font-weight: bolder;
  color: #F0FFF0;
  text-align: center;
}

.blog-date {
  font-size: 20px;
  font-weight: bolder;
  color: #F0FFF0;
  text-align: center;
}

.blog-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: auto;
}

.blog-container-footer {
  display: flex;
  justify-content: center;
}

/* SINGLE BLOG PAGE */
.single-blog-main-container {
  display: flex;
  flex-direction: column;
  padding: 2vh;
}

.single-blog-container {
  display: flex;
  height: 50vh;
  background-color: lightslategray;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.single-blog-title-header {
  padding-top: 5vh;
  font-size: 20px;
  font-weight: bolder;
  color: #F0FFF0;
  text-align: center;
}

.single-blog-content {
  padding-top: 5vh;
  height: 25vh;
  font-size: 20px;
  font-weight: bolder;
  color: black;
  text-align: center;
}

.single-blog-footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.single-blog-container, .comment-main-container {
  margin: 5vh;
}

.comment-main-container {
  display: flex;
  flex-direction: column;
}

.comment-container {
  height: 20vh;
  padding-top: 3vh;
  background-color: #B7D1DA;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

/* LOGIN/SIGNUP PAGE */

#login-main-container, #signup-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100%;
  font-weight: bold;
}

#signup-link {
  font-weight: bolder;
  transition: 0.1s
}

#signup-link:hover {
  border-bottom: 1px solid maroon;
  font-weight: bolder;
}

/* modal for invalid authentication on login/signup page */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

.close-modal {
  color: #aaa;
  float: right;
  font-size: 10px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}






